/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-neutral-neutral-lighter: #f5f5f5;
  --lochinvar-400: #4b8175;
  --dark-ff-blue-darker: #051e2a;
  --dark-ff-blue: #092a3c;
  --color-system-success-green-light: #dcebe6;
  --mexican-red-300: #aa302b;
  --lochinvar-600: #3a6b5e;
  --lochinvar-900: #2a4d3f;
  --color-neutral-neutral-dark: #333333;
  --color-neutral-neutral-light: #cccccc;
  --color-neutral-white: #ffffff;
  --color-system-success-green: #4b8175;
  --color-system-error-red: #aa302b;
  --international-klein-blue-300: #7dcbc7;
  --color-neutral-neutral: #666666;
  --vanilla-950: #f5f5dc;
  --lochinvar-800: #2a4d3f;
  --vanilla-50: #fdf5e6;
  --color-neutral-black: #000000;
  --vanilla-300: #f5deb3;
  --vanilla-700: #deb887;
  --vanilla-800: #d2b48c;
  --color-system-error-red-light: #f9d1cf;
  --color-neutral-neutral-darker: #1a1a1a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
